html {
    font-family: 'Dancing Script', cursive;
    font-size: 25px;    
    background: #5021a2;
   }

.c1, .c2, .c3, .c4{ color: whitesmoke;}

.c1{
    font-size: 1.5rem;
}
.c2{
    font-size: 3rem;
}
.c3{
    font-size: 4.5rem;
}
.txtshadow{
    text-shadow: 3px 3px 10px black;
}
.image{
    filter: invert(88%) sepia(33%) saturate(0%) hue-rotate(-204deg) brightness(108%) contrast(105%);
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.c1{
    text-align: center;
}
