@import url(https://fonts.googleapis.com/css?family=Righteous);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);

html, body {
  height: 100%;
}
body {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  background-color: #C850C0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  }

.header {
  display: inline-block;
  color: white;
  /* font-family: 'Dancing Script', cursive; */
  font-family: 'Righteous', serif;
  text-align: center;  
  font-size: 12em; 
  text-shadow: 0.03em 0.03em 0 hsl(311deg 39% 50%);
  }
  .header:after {
    position: absolute;
    content: attr(data-shadow);
    top: .06em; left: .06em;
    z-index: -1;
    text-shadow: none;
    background-image:
      linear-gradient(
        45deg,
        transparent 45%,
        hsla(48,20%,90%,1) 45%,
        hsla(48,20%,90%,1) 55%,
        transparent 0
        );
    background-size: .05em .05em;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shad-anim 15s linear infinite;
    }

@keyframes shad-anim {
  0% {background-position: 0 0}
  0% {background-position: 100% -100%}
  }

  /* Sub Header  */

.sub-header  {  
  font-family: 'Dancing Script', cursive; 
  /* font-family: 'Righteous', serif; */

  font-size: 55px;
  margin-left: -225px;
  margin-top: -20px;
}

.sub-header p {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  color: white;
}

.sub-header .word {
  position: absolute;
  width: 350px;
  opacity: 0;
}

.sub-header .letter {
  display: inline-block;
  position: relative;
  float: left;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}

.sub-header  .letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.sub-header .letter.behind {
  transform: rotateX(-90deg);
}

.sub-header .letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.sub-header .color-1 {
  color: #ffecb3;
}

.sub-header .color-2 {
  color: #ccf9ff;
}

